.loader {
	background: none repeat scroll 0 0 #000000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999; 
}

.loader .loader_inner {
	background-image: url('../img/loader.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	height: 130px;
	width: 130px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute; 
}
